{% extends 'main/layoutMain.html' %}
{% block title %}Контакты - Автошкола Онлайн{% endblock %}

{% block content %}
<h1 class="text-center">📞 Контакты</h1>
<p class="text-center">Свяжитесь с нами по любым вопросам!</p>

<div class="row justify-content-center">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>Телефон:</strong> +7 (123) 456-78-90</li>
            <li class="list-group-item"><strong>Email:</strong> info@autoshkola.ru</li>
            <li class="list-group-item"><strong>Адрес:</strong> Красноярск, ИКИТ СФУ</li>
        </ul>
    </div>
</div>

<div class="text-center mt-4">
    <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A7e0521e1f5183a3a69e3f3aaf3e20920b722d8fdc981539a7fc5c615f3e688e1&amp;source=constructor&text=55.994432,92.797617"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock %}