<!-- edit_profile.html -->
{% extends 'main/layoutMain.html' %}

{% block title %}Редактирование профиля - Автошкола Онлайн{% endblock %}

{% block content %}
<h1 class="text-center">✏️ Редактирование профиля</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark">Сохранить изменения</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}