{% extends 'main/layoutMain.html' %}

{% block title %}Главная - Автошкола Онлайн{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Автошколу Онлайн!</h1>
    <p class="lead">Освойте теорию и практику вождения с лучшими инструкторами.</p>
    <a href="{% url 'courses' %}" class="btn btn-primary btn-lg mt-3">📚 Посмотреть курсы</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>🚗 Профессиональные инструкторы</h3>
        <p>Наши сертифицированные инструкторы помогут вам быстро и качественно освоить вождение.</p>
    </div>
    <div class="col-md-4">
        <h3>📖 Удобные учебные материалы</h3>
        <p>Онлайн-теория и билеты доступны в любое время для вашего удобства.</p>
    </div>
    <div class="col-md-4">
        <h3>📅 Гибкое расписание</h3>
        <p>Выбирайте удобное время для теоретических и практических занятий.</p>
    </div>
</div>
{% endblock %}
