{% extends 'main/layoutMain.html' %}
{% load static %}

{% block title %}Новый пароль - Автошкола Онлайн{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/register.css' %}">
    <script type="text/javascript" src="{% static 'main/js/password_utils.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/css/password_styles.css' %}">

    <h1 class="text-center">🔐 Установка нового пароля</h1>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post" id="passwordResetForm">
                {% csrf_token %}

                <!-- Поле нового пароля -->
                <div class="mb-3">
                    <label for="new_password" class="form-label">Новый пароль</label>
                    <div class="password-toggle">
                        <input type="password" name="new_password" id="new_password" class="form-control" required maxlength="20">
                        <span class="password-toggle-icon" onclick="togglePassword('new_password')">😑</span>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'new_password' in message.tags %}
                                <div class="text-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Поле подтверждения пароля -->
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Подтвердите пароль</label>
                    <div class="password-toggle">
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required maxlength="20">
                        <span class="password-toggle-icon" onclick="togglePassword('confirm_password')">😑</span>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'confirm_password' in message.tags %}
                                <div class="text-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            
            

                <button type="submit" class="btn btn-dark w-100">Установить пароль</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                    {% if 'new_password' not in message.tags and 'confirm_password' not in message.tags %}
                        <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}