/*body {*/
/*    background: #f4f4f4;*/
/*    margin: 0;*/
/*    font-family: Arial, sans-serif;*/
/*}*/

html, body {
    height: 100%; /* Растягиваем всю страницу */
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #ff8c00;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #eb5959;
}

main {
    padding-top: 70px;
    text-align: center;
}

.main-content {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    line-height: 1.6;
}

.container {
    flex: 1; /* Растягивается, чтобы футер не "поднимался" */
}

footer {
    background: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px; /* Уменьшенный отступ внутри футера */
    width: 100%; /* Футер занимает всю ширину */
    position: relative; /* Исправлено: убираем fixed */
    font-size: 12px; /* Размер шрифта */
    line-height: 1.2; /* Межстрочный интервал */
    margin-top: 50px; /* Добавлен отступ перед футером */
}
