.password-toggle {
    position: relative; /* Контейнер для позиционирования иконки */
    width: 100%;
}

.password-toggle input {
    width: 100%;
    padding-right: 40px; /* Оставляем место для иконки */
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
    z-index: 10;
}

/* Контейнер для ошибки */
.password-error-container {
    margin-top: 5px;
    font-size: 0.9em;
    color: red;
    min-height: 20px; /* Фиксируем минимальную высоту, чтобы не двигался input */
}

.captcha-img {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

#captcha-status {
    color: red;
    font-weight: bold;
}